.card {
    width : 500px;
    margin: 2em auto;
    padding: 1rem;
    border: solid;
    border-color: #e4e7ec;
    border-width: 1px;
  }

  .card-header {
    padding: 0px;
    text-align: center;
    background-color:rgb(248, 170, 0);
  }
  
  .card-block {
    padding: 1rem;
  }

  .introduce {
    width: 150px;
  }

  .content {
    width: 150px;
  }

  .box {
      margin-top: 5px;
  }