<div class="container-fluid pt-3">
    <div class="col-12">
        <ul [formGroup]="RegionForm">
            <li>
                <div [ngClass]="{'checkbox-space': isChrome, 'checkbox-space-ie': !isChrome}">
                    <input type="checkbox" id="motion-enabled" formControlName="iMotionDetectionEnabled">
                    <label class="stand"></label>
                    <label for="motion-enabled" class="for-new-check">{{ 'Motion.motionEnabled' | translate }}</label>
                </div>
            </li>
            <li>
                <div [ngClass]="{'checkbox-space': isChrome, 'checkbox-space-ie': !isChrome}">
                    <input type="checkbox" id="dynamic-analysis" formControlName="iHighlightEnabled">
                    <label class="stand"></label>
                    <label for="dynamic-analysis" class="for-new-check">{{ 'Motion.dynamicAnalysisEnabled' | translate }}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <div class="contain-fluid">
            <ul class="nav nav-tabs nav-underline" role="tablist">
              <ng-container *ngFor="let submenu of menuItems; first as isFirst;">
                <li class="nav-item">
                  <a id="{{ submenu }}Tab" [ngClass]="{ 'nav-link': true, 'active': isFirst }" data-toggle="tab"
                    href="#{{ submenu }}" role="tab" [attr.aria-controls]="'#' + submenu"
                    [attr.aria-expanded]="isFirst" (click)="onClickTab(submenu)">{{ submenu | translate }}</a>
                </li>
              </ng-container>
            </ul>
            <div class="tab-content py-1 pl-1">
              <ng-container *ngIf="selectedTab==='regionSetting'">
                <!-- <div class="tab-pane active" id="regionSetting" role="tabpanel" aria-expanded="true" aria-labelledby="regionSettingTab"> -->
                <app-motion-region #region></app-motion-region>
                <!-- </div> -->
              </ng-container>
              <ng-container *ngIf="selectedTab==='armingTime'">
                <div class="container-fluid row">
                  <div class="table-container col-md-10 col-xl-10">
                      <app-time-table [option]="tabOption" #arming></app-time-table>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="selectedTab==='linkageMode'">
                <!-- <div class="tab-pane" id="linkageMode" role="tabpanel" aria-expanded="false" aria-labelledby="linkageModeTab"> -->
                <app-motion-linkage #linkage></app-motion-linkage>
                <!-- </div> -->
              </ng-container>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="blue-btn ml-1" (click)="onSubmit()" id="intrusion-save">{{ 'save' | translate }}</button>
    </div>
</div>
