<div class="row container py-2 pl-1">
    <div class="col-7 ml-4">
        <div class="form-row" [formGroup]="observeForm">
            <div [ngClass]="{'checkbox-space': isChrome, 'checkbox-space-ie': !isChrome}" class="mb-1">
                <input type='checkbox' id='mask-enabled' formControlName="enabled">
                <label class="stand"></label>
                <label For="mask-enabled" class="for-new-check">{{ "maskEnabled" | translate}}</label>
            </div>
        </div>
    </div>
    <div class="col-7">
        <app-player [option]="playerOption" #player></app-player>
    </div>
</div>
