BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_OPENSSL=y
BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_HOST_DOXYGEN=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_PORTAUDIO=y
BR2_PACKAGE_WEBSOCKETPP=y
BR2_PACKAGE_LIBASIO=y
BR2_PACKAGE_NODEJS=y
BR2_PACKAGE_AVS_DEVICE_SDK=y
BR2_PACKAGE_APL_CORE_LIBRARY=y
BR2_PACKAGE_ALEXA_SMART_SCREEN_SDK=y
