# ipc_quick_display
# startup_app_ipc is used to quick display in ipc
BR2_PACKAGE_STARTUP_APP_IPC=y
#  - library for vi/vo/rga func
BR2_PACKAGE_RKMEDIA=y
BR2_PACKAGE_RKMEDIA_V4L2_CAPTURE=y
BR2_PACKAGE_RKMEDIA_USE_AIQ=y
BR2_PACKAGE_DRM_DISPLAY_OUTPUT=y
BR2_PACKAGE_RKMEDIA_RKRGA=y
BR2_PACKAGE_RKMEDIA_MINI=y
#  - install lib in rootfs
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_FORCE_INSTALL_TO_ROOTFS=y
BR2_PACKPAG_ISP2_IPC_FORCE_INSTALL_TO_ROOTFS=y
BR2_PACKAGE_LIBGDBUS_FORCE_INSTALL_TO_ROOTFS=y
BR2_PACKAGE_LIBRKDB_FORCE_INSTALL_TO_ROOTFS=y
BR2_PACKAGE_LIBIPCPROTOCOL_FORCE_INSTALL_TO_ROOTFS=y
