<div class="contain-fluid">
    <ng-container *ngIf="selectedMenuItem === 'MemberList'">
        <app-list-management [options]="memberListOp"></app-list-management>
    </ng-container>
    <ng-container *ngIf="selectedMenuItem === 'AddOne'">
        <app-add-one></app-add-one>
    </ng-container>
    <ng-container *ngIf="selectedMenuItem === 'BatchInput'">
        <app-batch-input [options]="batchInputOp"></app-batch-input>
    </ng-container>
    <ng-container *ngIf="selectedMenuItem === 'SnapShot'">
        <app-snap-shot [options]="snapShotOp"></app-snap-shot>
    </ng-container>
    <ng-container *ngIf="selectedMenuItem === 'Control'">
        <app-control [options]="controlOp"></app-control>
    </ng-container>
</div>
