.info-detail {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group-text {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.lay4ie {
    margin: 0px;
    margin-top: 2%;
}

