<div id="wrapper">
  <canvas #canvasvideo id="canvas" class="canvasvideo"></canvas>
    <div class="state">
      <span id="status">状态：待播放</span>
      <span id="duration">
        可播放时长: 0s
      </span>
      <span id="performance">
        解码平均：0ms, 单元平均：0ms
      </span>
    </div>
    <div class="btn">
      <button id="playBtn">播放</button>
      <button id="stopBtn">停止</button>
      <!-- <button id="pauseBtn" style="display: none;">暂停</button>
      <button id="resumeBtn" style="display: none;">恢复</button>
      <button id="muteBtn">静音切换</button>
      <input type="number" name="volume" step="0.1" max="1.0" min="0.0" value="1.0" />
      <span>音量设置</span> -->
    </div>
</div>