.checkbox-space {
    margin-left: 1rem;
}

.man-ml-1 {
    margin-left: 1rem;
}

.bt-line {
    margin-left: 1rem;
    width: 100%;
}

.one-line {
    width: 100%;
}

.introduce {
    width: 12rem;
}

.content {
    width: 12rem;
}

table {
    border: solid;
    border-width: 1px;
    border-color: #e3e7ec;
}

tr {
    border: solid;
    border-width: 1px;
    border-color: #e3e7ec;
}

td {
    border: solid;
    border-width: 1px;
    border-color: #e3e7ec;
}

td .content {
    text-align: center;
    margin: 0px;
}

.arrow-btn {
    font-size: 1rem;
    font-weight: bolder;
}

.arrow-btn:hover {
    color: greenyellow;
}
