.container-fluid {
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
}

p.header {
    background-color: #f8f8f8;
    margin: 0px;
    width: 100%;
}

.mode-select {
    margin-left: 10rem;
}

.player {
    margin-left: 0px;
    padding-left: 0px;
}

.setting {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 20%;
}

.sensitive-input  {
    float: left;
    margin-left: 10px;
    width: 8%;
    line-height: 1.7rem;
}

.custom-range {
    float: left;
    margin-left: 5px;
    min-height: 2rem;
    width: 60%;
}

.introduce {
    min-width: 4rem;
    float: left;
    margin: 0px;
    line-height: 2rem;
}

.sensitive {
    margin: 0px;
    line-height: 2rem;
}

ul {
    padding-left: 1rem;
}

li {
    display: inline-block;
    width: 100%;
}
